#原始文件
raw_data/
clean_data/
bam/
star_index/
ref/


#计数中间文件
all_sample_counts.txt
all_sample_counts.txt.summary

# 常见文件格式
.fastq
.fastq.gz
.bam
.bai
.sam
.tar.gz
.gz
.sra

#系统垃圾文件
.DS_Store
Thumbs.db

#R临时文件
.Rhistory
.RData
.Rproj.user/
